---
// src/pages/index.astro
import BaseLayout from "../layouts/baselayout.astro";
---

<BaseLayout title="Home">
    <h4>Welcome To Firebase</h4>
    <p>Welcome to my personal web profile!</p>
    <p>This site is built with Astro and hosts various interactive apps.</p>
</BaseLayout>
